.projectCardLink {
  text-decoration: none;
}

.projectCardImgDiv {
  overflow: hidden;
  max-width: 450px;
  max-height: 300px;
  margin-bottom: 7px;
}

.projectCardImg:hover {

}

.projectCardImg {
  max-width: 450px;
  margin-bottom: 10px;
}

.projectCardTitle {
  text-decoration: none;
}

.projectCardViewProject {
  text-decoration: none;
}