.dark {
  background-color: #212529;
  color: #FFFFFF;
}

.darkButton {
  background: none;
  color: #FFFFFF;
  border: none;
  font-size: 25px;
}

.darkResumeButton {
  background-color: #f9fafb;
  border: none;
  border-radius: 5px;
  color: #000000E6;
  font-size: 20px;
  width: 100px;
}

.darkprojectCardTitle,
.darkprojectCardViewProject {
  color: #FFFFFF;
}

.darkContactSubmitButton {
  background-color: #f9fafb;
  border: none;
  border-radius: 5px;
  color: #000000E6;
  font-size: 20px;
  width: 300px;
}

.darkProjectNavBackArrow {
  color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  .dark {
    background-color: #212529;
    color: #FFFFFF;
  }
  
  .darkButton {
    background:  none;
    color: #FFFFFF;
    border: none;
    font-size: 25px;
  }

  .darkContactSubmitButton {
    background-color: #f9fafb;
    border: none;
    border-radius: 5px;
    color: #000000E6;
    font-size: 20px;
    width: 300px;
  }

  .darkProjectNavBackArrow {
    color: #FFFFFF;
  }
}