.lightNavItems {
  color: #000000E6;
}

.lightNavItems:hover {
  color: gray;
}

.active.lightNavItems:hover {
  color: gray;
}

.light {
  background-color: #F8F9FA;
  color: #000000E6;
}

.lightButton {
  background: none;
  color: #000000E6;
  border: none;
  font-size: 25px;
}

.lightButton:hover {
  color: gray;
}

.lightResumeButton {
  background-color: #0d6efd;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 20px;
  width: 100px;
}

.lightprojectCardTitle,
.lightprojectCardViewProject {
  color: #000000E6;
}

.lightContactSubmitButton {
  background-color: #0d6efd;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 20px;
  width: 300px;
}

.lightProjectNavBackArrow {
  color: #000000E6;
}

.lightContactFormInput {
  border: 2px solid #000000E6;
}

.lightContactFormTextArea {
  border: 2px solid #000000E6;
}

.lightViewSiteLink,
.lightViewCodeLink {
  color: #000000E6;
  text-decoration: none;
}

.lightViewSiteLink:hover {
  color: blue;
  text-decoration: underline;
}

.lightViewCodeLink:hover {
  color: blue;
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  .light {
    background-color: #F8F9FA;
    color: #000000E6;
  }
  
  .lightButton {
    background: none;
    color: #000000E6;
    border: none;
    font-size: 25px;
  }

  .lightResumeButton {
    background-color: #0d6efd;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    width: 100px;
  }

  .lightResumeButton:hover {
    background-color: darkblue;
  }
  
  .lightContactSubmitButton {
    background-color: #0d6efd;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    width: 300px;
  }

  .lightContactSubmitButton:hover {
    background-color: darkblue;
  }

  .lightProjectNavBackArrow {
    color: #000000E6;
  }

  .lightViewSiteLink,
  .lightViewCodeLink {
    color: #000000E6;
    text-decoration: none;
  }

  .lightViewSiteLink:hover {
    color: blue;
    text-decoration: underline;
  }

  .lightViewCodeLink:hover {
    color: blue;
    text-decoration: underline;
  }
}